
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
*{
	font-family: 'Text Me One', sans-serif;
	box-sizing: border-box;
}

#contenedor{
	width: 1920px;
}

body {
background: #000000;
}

nav{
	
	text-align: center;
	margin-top: 50px;
}
a{
	text-decoration: none;
	color: white;
	margin: 40px;
	font-size: 36px;
}
a:hover {
	text-decoration: underline;
	color: white;
	border: 2px;
}
#logo_arriba{
	
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-top: 50px;

}


#nav_camisetas{
	
	text-align: center;
	margin-top: 50px;
	border-bottom: solid 2px white;
	padding-bottom: 60px;
}
a{
	text-decoration: none;
	color: white;
	margin: 40px;
	font-size: 36px;
}
a:hover {
	text-decoration: underline;
	color: white;
	border: 2px;
}

#camisetas{
	display: flex;
	justify-content: center;
	padding-top: 260px;
	padding-bottom: 260px;
}

#camiseta_negra img:hover {
	transform: scale(1.15);
	padding: 10px 10px 30px;

}
#camiseta_beish img:hover {
	transform: scale(1.15);
	padding: 10px 10px 30px;

}
#camiseta_blanca img:hover {
	transform: scale(1.15);
	padding: 10px 10px 30px;

}
#camiseta_negra p{
	margin: 0px;
	padding: 0px;
	padding-left: 40px;
	color: white;
	font-size: 36px;
}

#camiseta_beish p{
	margin: 0px;
	padding: 0px;
	padding-left: 40px;
	color: white;
	font-size: 36px;
}

#camiseta_blanca p{
	margin: 0px;
	padding: 0px;
	padding-left: 40px;
	color: white;
	font-size: 36px;
	
}
	
.boton_compra_camisetas{

	margin-left: 40px;
	color: white;
	font-size: 36px;
	display: block;
	background-color: #006686;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 70px;
	padding-left: 70px;
	margin-top: 15px;
	margin-left: 100px;
	
}
.boton_camisetas{

	margin-left: 40px;
	color: white;
	font-size: 36px;
	display: block;
	background-color: #006686;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 70px;
	padding-left: 70px;
	margin-top: 15px;
	
}



#logo_footer {
	display: flex;
	justify-content: center;
}

#compra h2{
text-align: center;
font-size: 40px;
color: white;
}
#compra h3{
	text-align: center;
	font-size: 40px;
	color: white;
	}
	#compra h4{
		text-align: center;
		font-size: 40px;
		color: white;
		}
#compra p{
	text-align: center;
	font-size: 40px;
	color: white;
	margin-bottom: 50px;
	}
  
	
	#tallas {
	   display: flex;
	   justify-content: center;
	   margin-bottom: 180px;
		}
	#tallas p{
		font-size: 36px;
		color: black;
		background: white;
		width: 43px;
		height: 43px;
		margin-right: 20px;
		}



		#footer_camisetas{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			padding-left: 140px;
			padding-right: 140px;
			border-top: solid 2px white;
			padding-top: 50px;
		}
		
		.iconos{
			color: white;
		}
		.iconos p{
			color: white;
			padding: 0;
			margin: 0;
		}
		.iconos img{
			padding: 0;
			margin: 0;
		}
		
		
		#SPOTIFY{
			display: flex;
			width: 100%;
			
		}
		#SPOTIFY img{
			display: flex;
			width: 70px;
			
		}
		
		#SPOTIFY p{
			font-size: 30px;
			padding-top: 50px;
			padding-right: 36px;
			
		}
		#youtube{
			display: flex;
			width: 100%;
			
		}
		
		#youtube img{
			
			width: 70px;
			
		}
		#youtube p{
			font-size: 30px;
			padding-top: 50px;
			
		}
		
		#twitter{
			display: flex;
			width: 100%;
			
		}
		#twitter img{
			display: flex;
			width: 70px;
			
		}
		
		#twitter p{
			font-size: 30px;
			padding-top: 50px;
			
		}
		
		
		#instagram{
			display: flex;
			width: 100%;
			
		}
		#instagram img{
			display: flex;
			width: 70px;
			
		}
		
		#instagram p{
			font-size: 30px;
			padding-top: 50px;
			
		}
		
		
		#whatsapp{
			display: flex;
			
			width: 100%;
			
		}
		#whatsapp img{
			display: flex;
			width: 70px;
			
		}
		
		#whatsapp p{
			font-size: 30px;
			padding-top: 50px;
			
		}
		
		#gmail{
			display: flex;
			width: 100%;
			
		}
		#gmail img{
			display: flex;
			width: 70px;
			
		}
		
		#gmail p{
			font-size: 30px;
			padding-top: 50px;
			
		}
		
		#logo_footer{
			display: flex;
			justify-content: center;
		}
		
		#logo_abajo img{
		 padding-top: 50px;
		}
		
		.ropa{
			width: 150px;
			position: fixed;
			bottom: 50%;
			right: 18px;
		}
 /*TABLET--------------------------------------------------------------------------------------------------------------------*/

 
#camisetas{
	display: flex;
	justify-content: center;
	margin: 0px;
}

@media screen and (max-width: 1024px) {
	#contenedor{
		width: 100%;
	}

	nav{
	
		text-align: center;
		margin-top: 30px;
	}
	a{
		text-decoration: none;
		color: white;
		margin: 10px;
		font-size: 30px;
	}
	a:hover {
		text-decoration: underline;
		color: white;
		border: 2px;
	}

	#camisetas{
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-top: 260px;
		margin-bottom: 260px;
	}
	#camiseta_negra{
		margin-bottom: 100px;
	}

	#camiseta_beish{
		margin-bottom: 100px;
	}
	

	.boton_camisetas{

		margin-left: 280px;
		color: white;
		font-size: 36px;
		display: block;
		background-color: #006686;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 70px;
		padding-left: 70px;
		margin-top: 15px;
		
		
	}

	
.boton_compra_camisetas{

	margin-left: 40px;
	color: white;
	font-size: 36px;
	display: block;
	background-color: #006686;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 70px;
	padding-left: 70px;
	margin-top: 15px;
	margin-left: 300px;
	
}
	
	#footer_camisetas{
		display: flex;
	    padding-top: 60px;
		text-align: center;
		}

	#footer_camisetas p{
		display: none;
	}
		
		#logo_abajo img{
			width: 253px;			
		}

		}

/*TAMAÑO CEL-------------------------------------------------------------------------------------------------------*/

		@media screen and (max-width: 360px) {
			#contenedor{
				width: 100%;
			}
	
			}
		
			
	
